.pwa div{
    font-family: -apple-system, BlinkMacSystemFont;
    font-weight: 200;
}

.pwa .pwa-logo{
    background-image: url(/static/media/mw-dark.f35f6300.png);
    width: 100%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pwa h2 {
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
}

.pwa p{
    text-align: center;
    padding: 20px;
    font-family: inherit;
    font-weight: inherit;
}

.pwa p > span{
    font-weight: 500;
}