.checkout-page{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.checkout-page > table{
    border-collapse: collapse;
}

.checkout-page > table > thead > tr > th {
    height: 60px;
    padding: 5px 80px 0 0;
    text-align: left;
}

.checkout-page > table > thead > tr > th:last-child {
    padding-right: 0;
    padding-left: 0;
}

.checkout-page > table > thead > tr{
    /* border-bottom: 1px solid #ebebeb; */
}

.checkout-items-wrapper > tr{
    border-bottom: 1px solid #ebebeb;
}

.checkout-items-wrapper > tr > td{
    padding: 15px 80px 10px 2px;
    font-weight: 300;
}

.checkout-items-wrapper > tr > td:nth-last-child(2){
    padding-right: 0;
}

.checkout-items-wrapper > tr > td:last-child{
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    cursor: pointer;
}

.checkout-items-wrapper > tr:last-child{
    border-bottom: none
}

.empty-cart-wrapper{
    background-color: #fff;
}
.empty-cart-wrapper .checkout-area{
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
    margin: 30px auto 0;
    padding: 48px 16px;
}

.empty-cart-wrapper .checkout-area .title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

.empty-cart-wrapper .checkout-area .content-wrapper{
    font-size: 14px;
    color: rgba(0,0,0,.87);
    text-align: center;
}