.navbar{
    grid-area: navbar;
    padding: 30px 30px 0 30px;
}

.navbar .left{
    float: left;
    cursor: pointer
}

.navbar .right{
    float: right
}

.navbar .right span{
    margin-right: 15px;
    cursor: pointer
}

.navbar .right .cart{
    margin-left: 15px;
    margin-right: 0
}
