.menuitem-wrapper{
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.menuitem-wrapper > div{
    border-radius: 2px;
    display: flex;
    align-items: center;
}