.signin-signup-page{
    padding: 60px 200px 30px 200px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'signin signup';
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
}
